<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="en" lang="en">
    <head>
        <meta charset="utf8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>William Scales</title>

        <link href="file:///home/william/documents/wscales.com/wscales_com/zzw_theme_vertical/static/bootstrap/dist/css/bootstrap.css"
              rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic|PT+Sans:700'
              rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1><a href="homepage_design.html">William Scales</a></h1>
                    <nav>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="background_design.html">Background</a></li>
                            <li><a href="projects_design.html">Projects</a></li>
                            <li><a href="#">Freelance</a></li>
                            <li><a href="#">Resume</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-10">
                    <div class="pull-left">
                        <img src="http://placehold.it/186x186"/>
                    </div>
                    <p>
                        Kitsch cray skateboard, sartorial hoodie mixtape
                        biodiesel cred tattooed migas Austin Carles.
                        Tumblr four dollar toast flannel, chillwave
                        normcore polaroid listicle ennui Pitchfork yr
                        pop-up 8-bit selfies.  Aesthetic mumblecore
                        cliche ennui keffiyeh pop-up, sustainable
                        Bushwick American Apparel pork belly gentrify
                        meggings cray.  Wayfarers viral dreamcatcher,
                        ennui narwhal chillwave jean shorts tilde
                        disrupt lo-fi.
                    </p>
                    <div class="clearfix"></div>
                    <div class="pull-right">
                        <img src="http://placehold.it/262x186"/>
                    </div>
                    <p>
                        Church-key High Life pork belly, meditation
                        Intelligentsia 90's gastropub photo booth cred.
                        Tattooed art party crucifix, cray disrupt
                        stumptown post-ironic mlkshk scenester fashion
                        axe direct trade Kickstarter occupy leggings.
                        Truffaut quinoa artisan, Cosby sweater occupy
                        fashion axe squid mixtape paleo Shoreditch
                        gastropub Helvetica keytar fingerstache.
                    </p>
                    <div class="clearfix"></div>
                    <div class="pull-left">
                        <img src="http://placehold.it/186x186"/>
                    </div>
                    <p>
                        Kitsch cray skateboard, sartorial hoodie mixtape
                        biodiesel cred tattooed migas Austin Carles.
                        Tumblr four dollar toast flannel, chillwave
                        normcore polaroid listicle ennui Pitchfork yr
                        pop-up 8-bit selfies.  Aesthetic mumblecore
                        cliche ennui keffiyeh pop-up, sustainable
                        Bushwick American Apparel pork belly gentrify
                        meggings cray.  Wayfarers viral dreamcatcher,
                        ennui narwhal chillwave jean shorts tilde
                        disrupt lo-fi.
                    </p>
                </div>
            <div>
        </div>
        <script src=file:///home/william/documents/wscales.com/wscales_com/zzw_theme_vertical/static/bootstrap/dist/js/bootstrap.js">
        </script>
    </body>
</html>
