{% extends "homepage.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">About</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Projects</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Resume</div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">Résumé</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Contact</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Colophon</div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}
